@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400&display=swap');

*{
    margin: 0;
}

body{
    font-family: 'Karla', sans-serif;
}



img{
    width: 100%;
}

/* 

Farbe: #323A45 / #848484

font-family: 'Karla', sans-serif;

# Phone
only screen and (max-width:320px)
# Tablet
only screen and (min-width:321px) and (max-width:768px)
# Desktop
only screen and (min-width:769px)

*/